/* Font */
h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif!important;
}

p {
  font-family: 'Lora', serif!important;
}
p.handwritten {

  padding-left: 20px;
  font-family: 'Reenie Beanie', cursive!important;
  font-size: 2.5em;
  color: #666666;
  border-left: 3px solid #666666;
  margin-top: 10px;
;
}
p{
  font-size: 1.5em;
  color: #333333;
  margin-bottom: 3em;
}
p.bajada{
  font-style:italic;
}
.section h1{
  font-size: 4.5em;
  color: #333333;
  font-weight: 700;

}
.section#main{

}
img#il-arbol{
  height: 500px;
  cursor: pointer;
}
